@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {--text: #d6dce1;
--background: #232b30;
--primary: #dcb66e;
--secondary: #a4b2bb;
--accent: #3b444c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(45deg, var(--background), var(--secondary));

    overflow: hidden;
    color: var(--text);
}


#name {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    color: transparent;
    position: fixed;
    left: -80px;
    bottom: 100px;
    transform: rotate(-90deg);
    background-image: linear-gradient(90deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    font-family: "Raleway";
    overflow: hidden;
    /* disable manual scroll */
    scroll-snap-type: y mandatory;

}

.step {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    padding: 2rem;
    text-align: center;
}

p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

input {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    width: 80%;
    max-width: 400px;
}

#pwd-conf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#pwd-match-indicator {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: background-color 0.6s ease,
    box-shadow 0.6s ease;
    
    box-shadow: 0 0 20px red;
}


.next-btn {
    padding: 40px;
    border: none;
    border-radius: 100px;
    background: var(--primary);
    color: var(--text);
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    transition: 0.3s ease-out;
    
}

.next-btn:hover {
    transform: scale(1.1);
    background-color: var(--accent);
}

.next-btn:active {
    transform: scale(0.9);
}


#back-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 25px;
    background: var(--secondary);
    color: var(--text);
    cursor: pointer;
    z-index: 1000;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    transition: 0.3s ease-out;
}

#back-btn:hover {
    transform: scale(1.1);
    background-color: var(--accent);
}

#back-btn:active {
    transform: scale(0.9);
}

#resend-btn {
    display: block;
    margin-top: 1rem;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}