body {
    background-color: rgb(3, 3, 3);
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#title {
    display: flex;
    flex-direction: column;
    color: rgb(219, 219, 219);
    justify-content: center;
    align-items: center;
}

#logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 6rem;
    margin: 0px;
    background: linear-gradient(#2b9cad, #1d5994);
    color: transparent;
    padding: 0px;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0 0 20px #3FE3FD;
}

#title-text {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

#subtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

#info {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#info input {
    padding: 10px;
    border: 2px solid rgba(161, 161, 161, 0.562);
    border-radius: 10px;
    background-color: rgba(247, 247, 247, 0.062);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#info input::placeholder {
    color: rgb(209, 209, 209);
}

#info input:focus {
    outline: none;
    border: 2px solid rgb(182, 182, 182);
}

#info #confirm-password {
    background-color: rgba(0, 100, 0, 0.43);
}

#signup-btn {
    background-color: #2b81d8;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgb(216, 216, 216);
    font-weight: 800;
}

#signup-btn:hover {
    box-shadow: 0 0 10px #3FE3FD;
}