@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2418;
    flex-direction: column;
}

.card {
    height: 336px;
    width: 240px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    transform-style: preserve-3d;

}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 4px solid #fff;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
}

.card-front {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.card-back {
  background: #333;
  color: #fff;
  transform: rotateY(180deg);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
    gap: 2rem;
}

.active {
    transform: rotateY(180deg) scale(1.3) translateZ(0);

}

.inactive {
    transform: scale(0.8);
}

#back-btn {
    margin-bottom: 40px;
    font-size: 1.2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    opacity: 0%;
    transition: opacity 0.3s ease;
}